body {
    background-color:rgba(208, 157, 208, 0.902);
    text-align: center;
    color: rgba(47, 56, 230, 0.707);
}

button {
    background: crimson;
    color: pink;
}

p {
    font-weight: bold; 
}

.blanks {
    font-size: 30px;
}